@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Menu operacional</h3>

<div>
    <ul>
        <li><a href="login/acesso/consultor">Consultor Login </a></li>
        <li><a href="consultor/nivel">Nivel de acesso</a></li>
        <li><a href="consultor/cadastro">Consultor Cadastro</a></li>
        <li><a href="consultor/cadastro">Status Cadastro</a></li>
    </ul>
</div>